// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Keep sidebar from top to bottom.
main[role="main"] {
    min-height: 100vh;
}

/**
 * Body styles.
 */ 
body {
    background-image: linear-gradient(180deg, #F9FCFB 0%, #F5FEF4 100%);
}

/**
 * Buttons
 */
.btn {
    &.btn-primary {
        background-image: linear-gradient(270deg, #00CBA7 0%, #9DDA8E 100%);
        color: #FFF;
        text-transform: uppercase;
        border: none;
    }
}

/**
 * Sidebar
 */
nav.sidebar {
    background-image: linear-gradient(180deg, #F8FFF7 0%, #CCFCC4 100%);
    position: relative;

    &:after {
        content: ' ';
        position: absolute;
        background-image: linear-gradient(180deg, #69D2A3 0%, #2EB5B0 100%);
        top: 0;
        left: 0;
        height: 100vh;
        width: 5px;
    }
}


/**
 * Cards
 */
.card {
    background-color: transparent;

    .card-header {
        background: $white;
        padding: 0;
        box-shadow: 0px 4px 5px -4px rgb(0 0 0 / 20%);

        > span {
            padding: $card-spacer-y $card-spacer-x;
            text-transform: uppercase;
            display: inline-block;
            min-width: 250px;
            border-bottom: 4px solid $body-color;
            margin-bottom: -4px;
        }
    }

    // Custom full-width card.
    &.card-full-width {
        width: 100%;
    }
}

