// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Noty (notifications)
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";


// Keep sidebar from top to bottom.
main[role="main"] {
    min-height: 100vh;
}

/**
 * Body styles.
 */ 
body {
    background-image: linear-gradient(180deg, #F9FCFB 0%, #F5FEF4 100%);
}

/**
 * Buttons
 */
.btn {
    &.btn-primary {
        background-image: linear-gradient(270deg, #00CBA7 0%, #9DDA8E 100%);
        color: #FFF;
        text-transform: uppercase;
        border: none;
    }
}

/**
 * Sidebar
 */
nav.sidebar {
    background-image: linear-gradient(180deg, #F8FFF7 0%, #CCFCC4 100%);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    &:after {
        content: ' ';
        position: absolute;
        background-image: linear-gradient(180deg, #69D2A3 0%, #2EB5B0 100%);
        top: 0;
        left: 0;
        height: 100vh;
        width: 5px;
    }

    // Logo
    .navbar-brand {
        padding: 10px 60px 0px;
    }

    li.nav-item {
        > a.nav-link {
            text-transform: uppercase;
            
            > img {
                max-width: 42px;
                margin-right: 10px;
            }
        }

        &.active {
            background-color: #F8FFF7;
        }
    }
}


/**
 * Cards
 */
.card {
    background-color: transparent;
    max-height: 100vh;
    overflow: hidden;

    .card-header {
        background: $white;
        padding: 0;
        box-shadow: 0px 4px 5px -4px rgb(0 0 0 / 20%);
        position: relative;
        z-index: 2;

        > span {
            padding: $card-spacer-y $card-spacer-x;
            text-transform: uppercase;
            display: inline-block;
            min-width: 250px;
            border-bottom: 4px solid $body-color;
            margin-bottom: -4px;
        }
    }

    .card-body {
        overflow-y: scroll;
        
        // Custom scrollbar.
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.05);
            background-color: #FFF;
            border-radius: 10px;
        }

        &::-webkit-scrollbar {
            width: 10px;
            background-color: #FFF;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #FFF;
            background-image: linear-gradient(180deg, #69D2A3 0%, #2EB5B0 100%);
        }
    }

    // Custom full-width card.
    &.card-full-width {
        width: 100%;
    }
}


/**
 * Pokemon cards
 */
.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

    > div {
        flex: 1 1 150px;
        margin: 15px;
        max-width: 150px;
    }
 }
.pokemon-card {
    background: #FFF;
    margin-bottom: 2em;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    cursor: pointer;
    text-align: center;
    position: relative;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
    max-width: 160px;

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
        transition: opacity 0.3s ease-in-out;
    }
      
    &:hover {
        transform: scale(1.05, 1.05);

        &::after {
            opacity: 1;
        }

        // Show gif and hide png.
        .pokemon-card-image .pokemon-card-gif { display: block; }
        .pokemon-card-image .pokemon-card-png { display: none; }
    }

    .pokemon-card-image {
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .pokemon-card-gif {
            display: none;
            margin: auto;
        }
    }

    .pokemon-card-hp {
        height: 5px;

        .progress-bar {
            background-image: linear-gradient(270deg, #00CBA7 0%, #9DDA8E 100%);
        }
    }
}



/**
 * Pokemon modal
 */
#pokemon-modal {
    background: rgb(27 204 164 / 25%);

    // Types
    .pokemon-modal-types {
        margin-bottom: 1em;

        > div {
            display: inline-block;
            margin-right: 15px;
        }

        img {
            width: 35px;
            margin-right: 2px;
            display: inline-block;
            vertical-align: middle;
        }
    }
    
    // Stats
    .pokemon-modal-stats {
        .progress {
            height: 0.4rem;
            margin-top: 8px;

            > .progress-bar {
                background-image: linear-gradient(270deg, #00CBA7 0%, #9DDA8E 100%);
            }
        }
    }
}